# Make a copy of this file and name it marketo.yml, then replace
# with the real client ID and secret and endpoints to test.
rest_endpoint: "https://123-ABC-001.mktorest.com/rest"
identity_endpoint: "https://123-ABC-001.mktorest.com/identity"
client_id: "testid"
client_secret: "testsecret"
