---
http_interactions:
- request:
    method: post
    uri: https://572-zrg-001.mktoapi.com/soap/mktows/2_2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.marketo.com/mktows/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.marketo.com/mktows/"
        xmlns:ns1="http://www.marketo.com/mktows/"><env:Header><ns1:AuthenticationHeader><mktowsUserId>backupify1_183663304D9A0915ABF452</mktowsUserId><requestSignature>e9c293953798d288c6ef3af9e57de2290a5fb7e1</requestSignature><requestTimestamp>2013-12-17T18:59:40+00:00</requestTimestamp></ns1:AuthenticationHeader></env:Header><env:Body><ns1:paramsGetLead><leadKey><keyType>IDNUM</keyType><keyValue>1000074</keyValue></leadKey></ns1:paramsGetLead></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '""'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>20016 - Request expired</faultstring><detail><ns1:serviceException xmlns:ns1="http://www.marketo.com/mktows/"><name>mktServiceException</name><message>Request timestamp error (20016)</message><code>20016</code></ns1:serviceException></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 17 Dec 2013 18:59:40 GMT
[...]
- request:
    method: post
    uri: https://572-zrg-001.mktoapi.com/soap/mktows/2_2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.marketo.com/mktows/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.marketo.com/mktows/"
        xmlns:ns1="http://www.marketo.com/mktows/"><env:Header><ns1:AuthenticationHeader><mktowsUserId>backupify1_183663304D9A0915ABF452</mktowsUserId><requestSignature>bac261808bbcdf4f0d830eba627945ba6d33eb10</requestSignature><requestTimestamp>2016-08-22T16:30:40-04:00</requestTimestamp></ns1:AuthenticationHeader></env:Header><env:Body><ns1:paramsGetLead><leadKey><keyType>EMAIL</keyType><keyValue>john@backupify.com</keyValue></leadKey></ns1:paramsGetLead></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '""'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://www.marketo.com/mktows/"><SOAP-ENV:Body><ns1:successGetLead><result><count>2</count><leadRecordList><leadRecord><Id>89381</Id><Email>john@backupify.com</Email><ForeignSysPersonId xsi:nil="true"/><ForeignSysType xsi:nil="true"/><leadAttributeList><attribute><attrName>ACA_BDR__c_lead</attrName><attrType>string</attrType><attrValue>Jeff Benedetti</attrValue></attribute><attribute><attrName>ACA_Country__c_lead</attrName><attrType>string</attrType><attrValue>Unknown</attrValue></attribute><attribute><attrName>ACA_Growth__c_lead</attrName><attrType>string</attrType><attrValue>Jeff Benedetti</attrValue></attribute><attribute><attrName>ACA_Hunter__c_lead</attrName><attrType>string</attrType><attrValue>Jeff Benedetti</attrValue></attribute><attribute><attrName>ACA_Large__c</attrName><attrType>string</attrType><attrValue>Large</a[...]
[...]
- request:
    method: get
    uri: https://app.marketo.com/soap/mktows/2_2?WSDL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<!--
        Marketo API Version 2_2 -->\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n
        \                 xmlns:tns=\"http://www.marketo.com/mktows/\"\n                  xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n
        \                 xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" name=\"mktows\"
        targetNamespace=\"http://www.marketo.com/mktows/\">\n  <wsdl:types>\n    <xs:schema
        targetNamespace=\"http://www.marketo.com/mktows/\">\n      <!-- *****************************************************************
        -->\n      <!-- **                       Enumerations                          **
        -->\n      <!-- *****************************************************************
        -->\n      <xs:simpleType name=\"LeadKeyRef\">\n        <xs:restriction base=\"xs:string\">\n
        \         <xs:enumeration value=\"IDNUM\"/>\n          <xs:enumeration value=\"COOKIE\"/>\n
        \         <xs:enumeration value=\"EMAIL\"/>\n          <xs:enumeration value=\"LEADOWNEREMAIL\"/>\n
        \         <xs:enumeration value=\"SFDCACCOUNTID\"/>\n          <xs:enumeration
        value=\"SFDCCONTACTID\"/>\n          <xs:enumeration value=\"SFDCLEADID\"/>\n
        \         <xs:enumeration value=\"SFDCLEADOWNERID\"/>\n          <xs:enumeration
        value=\"SFDCOPPTYID\"/>\n        </xs:restriction>\n    [...]
[...]
