---
http_interactions:
- request:
    method: post
    uri: https://572-zrg-001.mktoapi.com/soap/mktows/2_2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.marketo.com/mktows/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.marketo.com/mktows/"
        xmlns:ns1="http://www.marketo.com/mktows/"><env:Header><ns1:AuthenticationHeader><mktowsUserId>backupify1_183663304D9A0915ABF452</mktowsUserId><requestSignature>e9c293953798d288c6ef3af9e57de2290a5fb7e1</requestSignature><requestTimestamp>2013-12-17T18:59:40+00:00</requestTimestamp></ns1:AuthenticationHeader></env:Header><env:Body><ns1:paramsListOperation><listOperation>ADDTOLIST</listOperation><listKey><keyType>MKTOLISTNAME</keyType><keyValue>Inbound
        Signups</keyValue></listKey><listMemberList><leadKey><keyType>IDNUM</keyType><keyValue>1000074</keyValue></leadKey></listMemberList><strict>true</strict></ns1:paramsListOperation></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '""'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>20016 - Request expired</faultstring><detail><ns1:serviceException xmlns:ns1="http://www.marketo.com/mktows/"><name>mktServiceException</name><message>Request timestamp error (20016)</message><code>20016</code></ns1:serviceException></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 17 Dec 2013 18:59:40 GMT
[...]
